@import "nib"
@import "font.styl"

grisBG=#eeeeee
fontSans()
	font-family: 'Open Sans', sans-serif;
a
	color #22BCE0

body
	background grisBG
	fontSans()
	font-size 16px

footer
	background #22BCE0
	color rgba(white,0.7)
	padding 1em
	text-align center
	p:first-child
		margin-bottom 0
	p:last-child
		margin-top 0
		&:before
			content " - "
		&:after
			content " - "
h1
	font-size 1.2em 
	font-weight normal
	margin 0.2em 70px 0 0
	
header
	background #344B54
	color white
	padding 0.5em
	overflow hidden //Cuando las cosas se salen y hidden para q las esconda
	position relative
	figure
		float left
	#avatar
		position absolute
		top 0
		right 0
		margin 0.5em 0.5em
		img
			width 55px
			border-radius 50%
	#logo img
		width 52px
		border-right 1px solid white 
		padding-right 0.5em
		margin-right 0.5em
	
nav
	background #80BCA3
	box-shadow rgba(0,0,0,0.3) 0px 3px 20px
	margin 0
	padding 0 0.5em
	position relative
	ul
		margin 0
		padding 0
		list-style none
		li 
			display inline-block
			a
				color white
				text-decoration none
				display block
				padding 0.6em
		#publicar_nav
			position absolute
			right 0
			top 0em
			a
				background #22BCE0
				padding 0.5em 0.8em
				color white
				text-decoration none
				border-radius 5px
				font-style italic
				text-shadow rgba(0,0,0,0.5) 2px 2px 5px
				box-shadow rgba(0,0,0,0.5) 5px 5px 20px

#contenido
	margin 1em 
	.imagen_item
		float left
		margin 0 1em 0 0
		img
			width 96px
	.item
		background white
		border-bottom 3px solid #22BCE0
		position relative
		min-height 128px
		margin-bottom 3em
		
		.autor_item
			color #AAA
			font-style italic
		.datos_item
			text-align right
			margin 0.3em 1em 0 0
			.fecha_item
				color #AAA
			.tag_item
				background #F4502A
				color white
				text-decoration none
				display inline-block
				padding 0.2em 0.5em
				border-radius 0.5em
				float left
		.titulo_item
			font-size 1.2em
			font-style italic
			padding 1em 1em 0 0
			a
				color #444
				text-decoration none
		.votacion
			background white
			border-radius 0 0 0.5em 0.5em
			box-shadow rgba(0,0,0,0.3) 3px 2px 10px
			left 5%
			margin-top 3px
			padding 0.2em 0.5em
			position absolute
			top 100%
			width 90%
			.comentarios_item, .guardar_item
				float right